@use '@/shared/mixins' as *;

.editForm {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__buttons {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    gap: 24px;
  }
}

.inputText {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 300px;
  gap: 10px;
  text-transform: capitalize;

  &__input {
    width: 100%;
    min-height: 32px;
    padding: 0 6px;
    border: 1px solid var(--color-grey-400);
    border-radius: 4px;
    background-color: var(--color-grey-100);
    color: var(--black);
    @include effect-focus-outline-main-accent;
  }

  &__error {
    position: absolute;
    top: 0;
    right: 0;
    color: #ff0000;
  }
}
